<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>113890294885-rml45cia37eopt5k89s41qqo1f6n7juf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113890294885-rml45cia37eopt5k89s41qqo1f6n7juf</string>
	<key>API_KEY</key>
	<string>AIzaSyBpRAM3FOTDZAGkSYT0gGW_3YwIoOML77U</string>
	<key>GCM_SENDER_ID</key>
	<string>113890294885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bh.polytechnic.Refur</string>
	<key>PROJECT_ID</key>
	<string>refur-2a2f0</string>
	<key>STORAGE_BUCKET</key>
	<string>refur-2a2f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113890294885:ios:ea32669211763a6d20da8c</string>
</dict>
</plist>